MONGODB_URI=
JWT_SECRET=
BASE_URL_WEB=http://localhost:3000
NEWS_API_KEY=
NEWS_API_AUTHORID=
NEWS_API_LANGUAGE=id
PERSPECTIVE_API_KEY=
TOXICITY_THRESHOLD=0.5
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_URL=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=